<%- include('partials/header') %>

<%- include('partials/nav') %>
    <title>Pagina Principal</title>
<body>
  
    <table class="table table-striped">
        <div class="container">
            <thead>
                <tr>
                <th><h5>Nombre Piloto</h5></th>
                <th><h5>Nombre Carrera</h5></th>
                <th><h5>Minutos de Carrera</h5></th>
                <th><h5>Ubicación</h5></th>
                <th><h5>Abandono:</h5></th>
                <th><h5>Escuderia:</h5></th>
                <th><h5>Eliminar:</h5></th>
                </tr>
            </thead>
            <tbody>
                <% carreras.forEach (function(carrera){ %>
                    <tr>                   
                                <td><a class="btn btn-outline-success"><i class="bi bi-person-fill-gear"></i> <%=carrera.piloto %></a></td>
                                <td><div class="btn btn-outline-primary"><i class="bi bi-ev-front-fill"></i> <%=carrera.circuitos %></div></td>                           
                                <td><a class="btn btn-outline-dark"><i class="bi bi-clock-history"></i> <%=carrera.minutos %></a></td>
                                <td><a class="btn btn-outline-dark"><i class="bi bi-trophy"></i> <%=carrera.ubicacion %></a></td>
                                <td><a class="btn btn-outline-dark"> <i class="bi bi-wrench-adjustable-circle"></i><%=carrera.abandono %></a></td>
                                <td><a class="btn btn-outline-dark"> <i class="bi bi-alipay"></i><%=carrera.escuderia %></a></td>                            
                                <td>
                                    <a href="/delete/<%=carrera.id %>" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>  
                    <tr>                   
                <% }); %>
            </tbody>
                
        </div>
</body>


</html>